@import "scss/variables.scss";
@import "scss/mixins/reset.scss";
@import "scss/mixins/text.scss";
@import "scss/mixins/utility.scss";

.container {
  min-width: 174px;
  position: relative;
}

.select_list {
  @include list-style-none();
  background-color: inherit;
  border: 1px $basic-grey solid;
  border-radius: 8px;
  position: absolute;
  top: 50px;
  width: 100%;
}

.select {
  text-align: left;
  width: 100%;
}

.button {
  @include reset-button();
  @include textRegular-16();
  @include focus();
  background-color: inherit;
  border-radius: 8px;
  color: $light-slate-gray;
  padding: 7px;
  text-align: left;
  width: 100%;
  word-wrap: break-word;

  &:hover {
    background-color: $basic-white;
  }
}

.animation_icon {
  transition: $animation-time ease-in-out, -webkit-transform $animation-time ease-in-out;
}
