{
  "extends": ["stylelint-config-standard", "stylelint-config-standard-scss"],
  "plugins": ["stylelint-order", "stylelint-scss"],
  "rules": {
    "alpha-value-notation": "number",
    "annotation-no-unknown": [true, { "ignoreAnnotations": "default" }],
    "at-rule-empty-line-before": null,
    "color-hex-length": "long",
    "color-function-notation": "legacy",
    "declaration-block-no-redundant-longhand-properties": [
      true,
      { "ignoreShorthands": ["grid-template", "inset"] }
    ],
    "declaration-empty-line-before": "never",
    "declaration-no-important": true,
    "keyframes-name-pattern": "^[a-z][A-Za-z-]*[a-z]$",
    "media-feature-range-notation": "prefix",
    "no-descending-specificity": null,
    "number-max-precision": 2,
    "order/properties-alphabetical-order": true,
    "property-no-vendor-prefix": [true, { "ignoreProperties": "appearance" }],
    "scss/at-import-partial-extension": "always",
    "scss/at-mixin-argumentless-call-parentheses": "always",
    "scss/at-mixin-pattern": "^[a-z][A-Za-z0-9-]*[a-z0-9]$",
    "scss/selector-no-union-class-name": true,
    "selector-attribute-quotes": "always",
    "selector-class-pattern": "^[a-z][a-z0-9-_]+[a-z0-9]$",
    "value-keyword-case": [
      "lower",
      {
        "camelCaseSvgKeywords": true
      }
    ]
  },
  "ignoreFiles": ["build/**/*"]
}
