@mixin absolute-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin focus-elements {
  &:focus:not(:disabled) {
    box-shadow: 0 0 30px 0 rgba($ocean-blue, 0.35);
  }
}
