@import "scss/variables.scss";
@import "scss/mixins/reset.scss";
@import "scss/mixins/text.scss";
@import "scss/mixins/utility.scss";

.container {
  color: $light-slate-gray;
  position: relative;
}

.icon {
  @include vertical-center();
  display: flex;
  right: 17px;
}

.input {
  @include reset-input();
  @include textRegular-16();
  @include focus();
  background-color: inherit;
  border: 1px solid $basic-grey;
  border-radius: 8px;
  color: $light-slate-gray;
  padding: 12px 40px 12px 13px;

  &:disabled {
    background-color: rgba($basic-grey, 0.2);
  }

  &::placeholder {
    color: $light-slate-gray;
  }
}

.disabled {
  pointer-events: none;
}
